
<id="<%= dom_id trip %>">
  <h2>
   <%= trip.name %>
  </h2>
  <p>
    <strong>Start date:</strong>
    <%= trip.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= trip.end_date %>
  </p>
