<p style="color: green"><%= notice %></p>

<% content_for :title, "Trips" %>

<h1>Trips</h1>

<span class="trips">
  <% @trips.each do |trip| %>
    <div>
    <%= render trip %>
    <p>
      <%= link_to "View trip details", trip_path(trip), class: "btn btn-primary" %>
    </p>
    </div>
    <br>
  <% end %>
</span>


<%= link_to "New trip", new_trip_path, class: "btn btn-primary" %>
