<p style="color: green"><%= notice %></p>

<% content_for :title, "Trips" %>

<h1>Trips</h1>

<div id="trips">
  <% @trips.each do |trip| %>
    <%= render trip %>
    <p>
      <%= link_to "View trip details", trip, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "New trip", new_trip_path, class: "btn btn-primary" %>
