

<% content_for :title, "New trip" %>
<%= link_to "Back to trips", trips_path, class: "btn btn-primary"%>

<h1>New trip</h1>

<!-- This is a form for creating a new trip -->
<%= render "form", trip: @trip %>

