
<% content_for :title, "New participant" %>
<%= link_to "Back to edit trip", edit_trip_path(@trip), class: "btn btn-primary" %>
<h1>New participant</h1>

<!-- This is a form for creating a new participant -->
<%= render "form", participant: @participant %>


