
<% content_for :title, "Edit Expense" %>

<h1>Edit Expense</h1>

<%= render "form", expense: @expense %>

<br>

<%= link_to "Back to expense details", trip_participant_expense_path(@trip, @participant, @expense) %>
